.member-search-form {
  float: left;
}

.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .panel .panel-heading .input-group {
  .form-control {
    height: 42px;
  }
}

.content-list .group-name {
  font-weight: 600;
  color: #4c4e54;
}
