- page_title "Commits", @ref
= render "header_title"
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_commits_url(@project.namespace, @project, @ref, format: :atom, private_token: current_user.private_token), title: "#{@project.name}:#{@ref} commits")

= render "head"

.gray-content-block.second-block
  .tree-ref-holder
    = render 'shared/ref_switcher', destination: 'commits'

  .block-controls.hidden-xs.hidden-sm
    - if create_mr_button?(@repository.root_ref, @ref)
      .control
        = link_to create_mr_path(@repository.root_ref, @ref), class: 'btn btn-success' do
          = icon('plus')
          Create Merge Request

    .control
      = form_tag(namespace_project_commits_path(@project.namespace, @project, @id), method: :get, class: 'pull-left commits-search-form') do
        = search_field_tag :search, params[:search], { placeholder: 'Filter by commit message', id: 'commits-search', class: 'form-control search-text-input', spellcheck: false }

    - if current_user && current_user.private_token
      .control
        = link_to namespace_project_commits_path(@project.namespace, @project, @ref, {format: :atom, private_token: current_user.private_token}), title: "Commits Feed", class: 'btn' do
          = icon("rss")


  %ul.breadcrumb.repo-breadcrumb
    = commits_breadcrumbs

= render 'projects/commits/mirror_status'

%div{id: dom_id(@project)}
  #commits-list.content_list= render "commits", project: @project
.clear
= spinner

:javascript
  CommitsList.init("#{@ref}", #{@limit});
