- page_title       @user.name
- page_description @user.bio
- header_title     @user.name, user_path(@user)
- @no_container = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, user_url(@user, format: :atom), title: "#{@user.name} activity")

= render 'shared/show_aside'

.cover-block
  .cover-controls
    - if @user == current_user
      = link_to profile_path, class: 'btn btn-gray' do
        = icon('pencil')
    - elsif current_user
      %span.report-abuse
        - if @user.abuse_report
          %button.btn.btn-danger{ title: 'Already reported for abuse',
            data: { toggle: 'tooltip', placement: 'left', container: 'body' }}
            = icon('exclamation-circle')
        - else
          = link_to new_abuse_report_path(user_id: @user.id), class: 'btn btn-gray',
            title: 'Report abuse', data: {toggle: 'tooltip', placement: 'left', container: 'body'} do
            = icon('exclamation-circle')
    - if current_user
      &nbsp;
      = link_to user_path(@user, :atom, { private_token: current_user.private_token }), class: 'btn btn-gray' do
        = icon('rss')

  .avatar-holder
    = link_to avatar_icon(@user, 400), target: '_blank' do
      = image_tag avatar_icon(@user, 90), class: "avatar s90", alt: ''
  .cover-title
    = @user.name

  .cover-desc
    %span
      @#{@user.username}.
    - if @user.bio.present?
      %span
        #{@user.bio}.
    %span
      Member since #{@user.created_at.to_s(:medium)}

  .cover-desc
    - unless @user.public_email.blank?
      .profile-link-holder
        = link_to @user.public_email, "mailto:#{@user.public_email}"
    - unless @user.skype.blank?
      .profile-link-holder
        = link_to "skype:#{@user.skype}", title: "Skype" do
          = icon('skype')
    - unless @user.linkedin.blank?
      .profile-link-holder
        = link_to "https://www.linkedin.com/in/#{@user.linkedin}", title: "LinkedIn" do
          = icon('linkedin-square')
    - unless @user.twitter.blank?
      .profile-link-holder
        = link_to "https://twitter.com/#{@user.twitter}", title: "Twitter" do
          = icon('twitter-square')
    - unless @user.website_url.blank?
      .profile-link-holder
        = link_to @user.short_website_url, @user.full_website_url
    - unless @user.location.blank?
      .profile-link-holder
        = icon('map-marker')
        = @user.location

  %ul.nav-links.center
    %li.active
      = link_to "#activity", 'data-toggle' => 'tab' do
        Activity
    - if @groups.any?
      %li
        = link_to "#groups", 'data-toggle' => 'tab' do
          Groups
    - if @contributed_projects.present?
      %li
        = link_to "#contributed", 'data-toggle' => 'tab' do
          Contributed projects
    - if @projects.present?
      %li
        = link_to "#personal", 'data-toggle' => 'tab' do
          Personal projects

%div{ class: container_class }
  .tab-content
    .tab-pane.active#activity
      .gray-content-block.white.second-block
        %div{ class: container_class }
          .user-calendar
            %h4.center.light
              %i.fa.fa-spinner.fa-spin
        .user-calendar-activities


      .content_list
      = spinner

    - if @groups.any?
      .tab-pane#groups
        %ul.content-list
          - @groups.each do |group|
            = render 'shared/groups/group', group: group

    - if @contributed_projects.present?
      .tab-pane#contributed
        .contributed-projects
          = render 'shared/projects/list',
            projects: @contributed_projects.sort_by(&:star_count).reverse,
            projects_limit: 10, stars: true, avatar: true

    - if @projects.present?
      .tab-pane#personal
        .personal-projects
          = render 'shared/projects/list',
            projects: @projects.sort_by(&:star_count).reverse,
            projects_limit: 10, stars: true, avatar: true

:javascript
  $(".user-calendar").load("#{user_calendar_path}");
